<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context DAO layer -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- sessionFactory  -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
		<property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
	</bean>

	<!-- Transaction manager for a single Hibernate SessionFactory -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- General  -->
	<bean id="answerDAO" class="pl.edu.agh.iosr.surveylance.dao.hibernate.AnswerDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="componentDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.ComponentDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="decisionDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.DecisionDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="forkComponentDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.ForkComponentDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="formDAO" class="pl.edu.agh.iosr.surveylance.dao.hibernate.FormDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="numericAnswerDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.NumericAnswerDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="questionDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.QuestionDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="surveyDAO" class="pl.edu.agh.iosr.surveylance.dao.hibernate.SurveyDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="surveyResultDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.SurveyResultDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="textAnswerDAO"
		class="pl.edu.agh.iosr.surveylance.dao.hibernate.TextAnswerDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
	<bean id="userDAO" class="pl.edu.agh.iosr.surveylance.dao.hibernate.UserDAOImpl">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>
</beans>